<h4>Consulta de produtos</h4>
<p>Listagem de produtos cadastrados no sistema:</p>
<hr/>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Nome do produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>Cadastrado em</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                Total de produtos: 0
            </td>
        </tr>
    </tfoot>
</table>