<h4>Cadastro de produtos</h4>
<p>Preencha o formulário abaixo para incluir um produto:</p>
<hr>

@if (mensagem()) {
    <div class="alert alert-info">
        <strong>{{ mensagem()}}</strong>
    </div>
}

<form [formGroup]="formCadastro" (ngSubmit)="cadastrarProduto()">
    <div class="mb-3">
        <label for="">Nome do produto:</label>
        <input type="text" class="form-control" placeholder="Digite nome aqui" formControlName="nome">

        @if (formCadastro.get('nome')?.touched && formCadastro.get('nome')?.invalid) {
            <span class="text-danger">
                O nome do produto é obrigatorio e deve ter de 6 a 150 caracteres
            </span>
        }
    </div>

    <div class="mb-3">
        <label for="">Preço:</label>
        <input type="text" class="form-control" placeholder="Digite o preço aqui" formControlName="preco">

        @if (formCadastro.get('preco')?.touched && formCadastro.get('preco')?.invalid) {
            <span class="text-danger">
                O preco do produto é obrigatorio e deve estar entre '0.01' e '99999.99'
            </span>
        }
    </div>

    <div class="mb-3">
        <label for="">Quantidade:</label>
        <input type="text" class="form-control" placeholder="Digite a quantidade aqui" formControlName="quantidade">

        @if (formCadastro.get('quantidade')?.touched && formCadastro.get('quantidade')?.invalid) {
            <span class="text-danger">
                A quantidade do produto é obrigatorio e deve ter de '0' a '9999'
            </span>
        }
    </div>

    <div class="mb-3">
        <input type="submit" value="realizar cadastro" class="btn btn-success" [disabled]="formCadastro.invalid">
    </div>
</form>